:root {
    --primary: #8ed968;
    --secondary: #103c1f;
    --red: #d96868;
    --black: #000;
    --white: #fff;
    --dark: #1c1d21;
    --inactive: #a7a7a7;
    --outline-lighter: #ececec;
    --outline-light: #e2e3e8;
    --outline-medium: #d8d9de;
    --outline-heavy: #d5d5d5;
    --background-light: #fafafa;
    --background-medium: #f1f1f1;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    height: 100dvh;
}

html {
    font-size: 16px;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    appearance: none;
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
    width: auto;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}
