.navigation {
    position: fixed;
    bottom: 16px;
    left: 50%;
    translate: -50%;

    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    border-radius: 1rem;
    border: 2px solid var(--outline-heavy, #d5d5d5);
    width: fit-content;
    height: fit-content;

    @media (width >= 768px) {
        top: 50%;
        left: 16px;
        bottom: 0;
        translate: 0 -50%;
    }

    @media (width >= 1024px) {
        height: 100%;
        padding: 0;
        width: 100%;
        position: relative;
        translate: 0;
        top: 0;
        left: 0;
        border: none;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 3 / -3;
    }

    @media (width >= 1536px) {
        grid-column-end: 3;
    }
}

.navigation-list {
    display: flex;
    gap: 0.5rem;
    width: 100%;

    @media (width >= 768px) {
        flex-direction: column;
    }
}

.navigation-item {
    display: flex;
    padding: 0.75rem;
    border-radius: 0.75rem;
}

.navigation-content {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.navigation-item.selected {
    background-color: var(--white, #fff);
    box-shadow: 0 -2px 1px 0 rgba(0, 0, 0, 0.1) inset;
}

.navigation-icon {
    color: var(--inactive, #a7a7a7);
}

.navigation-item.selected > .navigation-content .navigation-icon {
    color: var(--primary, #8ed968);
}

.navigation-item.selected > .navigation-content .navigation-text {
    color: var(--dark, #1c1d21);
}

.navigation-text {
    display: none;
    color: var(--inactive, #a7a7a7);

    @media (width >= 1024px) {
        display: flex;
    }
}

#navigation-account-button {
    display: flex;
    color: var(--inactive, #a7a7a7);

    @media (width >= 1024px) {
        display: none;
    }
}

.account-information {
    margin-top: auto;
    padding: 0.75rem;
    border-radius: 0.75rem;

    background: var(--background-medium, #f1f1f1);
    border: 1px solid var(--outline-heavy, #d5d5d5);

    display: none;
    gap: 8px;
    flex-direction: row;

    @media (width >= 1024px) {
        display: flex;
    }
}

.account-image {
    border-radius: 100%;

    border-radius: 2.875rem;
    border: 1px solid var(--outline-heavy, #d5d5d5);
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.account-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    color: var(--dark, #000);
}

.account-content p {
    margin: 0;
}

.account-name {
    color: var(--dark, #000);
}

.account-company {
    color: var(--inactive, #a7a7a7);
}
