.action-buttons {
    display: flex;
    grid-row: 12 / 18;
    grid-column: 1 / 5;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-icon-text {
    width: 100%;
    background-color: var(--primary, #a7a7a7);
    color: var(--dark, #000);
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 1000px;
    gap: 0.5rem;
}